body {
  background-color: #102f50;
  color: #e6edf1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#profile #title {
  font-size: 4rem;
  color: white;
}

#profile #logged {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.landing {
  background-image: none;
}

#title {
  margin-top: 4rem;
  font-family: 'DecimaABold';
  font-size: 4vw;
  color: white;
}


@media (max-width: 992px) {
  #title{
      font-size: 4em !important;
  }
}


@media (max-width: 768px) {
  #title{
      font-size: 3em !important;
  }
}