@import "../../styles/global.css";

.schedule {
    font-family: var(--title-font);
}

.event {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 2em;
    color: var(--primary-color-3);
}

.event .eventTitle, .event .eventTitle a {
    color: var(--primary-color-3);
    font-weight: bold;
    text-transform: uppercase;
}

.event .eventTitle a {
    display: flex;
    justify-content: center;
}

.event.promotedInline .tickets p {
    margin-left: 0.5rem;
}

.author:hover, .eventPicture:hover {
    text-decoration: underline;
    cursor: pointer;
}

.speakerEntry {
    display: grid;
    grid-template-columns: 60px auto;
    column-gap: 2em;
}

.author {
    font-family: var(--inf-font);
}

.daySchedule {
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-columns: 40% 20% 40%;
}

.dayScheduleLeft.leftAlign {
    grid-column: 1 / span 2;
}

.dayScheduleRight.rightAlign {
    grid-column: 2 / span 2;
}

.dayScheduleDate {
    grid-column: 1 / span 3;
}

.daySchedule .promotedSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.daySchedule .dayScheduleLeft.promotedSection {
    /* background-color: blueviolet; */
    text-align: right;
    align-items: flex-end;
}

.daySchedule .dayScheduleRight.promotedSection {
    /* background-color: gold; */
    padding-left: 2em;
}

.dayScheduleDate .dayTitle {
    display: inline-block;
    margin-right: 2em;
    margin-bottom: 2em;
    padding: 0.8em;
    text-align: center;
    color: var(--primary-color-3);
    background-color: var(--primary-color-2);
    transform: skewY(-2deg) translateY(2rem);
}

.dayScheduleDate .dayTitle p{
    transform: skewY(2deg);
    margin: 0;
    font-weight: bold;
    font-size: 1.8rem;
}

.dayScheduleDate_right {
    text-align: right;
}

.promotedEvent {
    width: 18em;
    /* padding: 2em; */
}

.promotedEvent .time {
    margin-bottom: -2em;
    color: var(--primary-color-2);
}

.promotedEvent .tickets {
    display: flex;
    align-items: center;
    justify-content: center;
}

.promotedEvent .title {
    padding: 0.8em 1.2em;
    text-align: center;
    color: var(--primary-color-3);
    background-color: var(--primary-color-2);
    transform: skewY(-2deg) translateY(2rem);
}

.promotedEvent .title:hover p {
    color: var(--primary-color-1);
}

.promotedEvent .title p {
    transform: skewY(2deg);
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 0.5rem;
}

.event.promotedInline .time {
    color: var(--primary-color-2);
}
.event.promotedInline .eventTitle {
    margin-top: -2em;
    margin-bottom: 1em;
    padding: 0.8em 1.2em;
    text-align: center;
    color: var(--primary-color-3);
    background-color: var(--primary-color-2);
    transform: skewY(-2deg) translateY(2rem);
}

.event.promotedInline .eventTitle p {
    transform: skewY(2deg);
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
}

/* Mobile stuff */
@media only screen and (max-width: 600px) {
    .daySchedule {
        grid-template-rows: max-content auto auto;
        grid-template-columns: 100%
    }
    
    .dayScheduleLeft.leftAlign {
        grid-column: 1 / span 1
    }
    
    .dayScheduleRight.rightAlign {
        grid-column: 1 / span 1
    }
    
    .dayScheduleDate {
        grid-column: 1 / span 1;
    }
    .promotedSection {
        grid-row: 2;
    }
  }
