---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="http://talkabit.org/">
    <meta property="og:site_name" content="Talk A Bit 2018">
    <meta property="og:title" content="Talk A Bit 2018">
    <meta property="og:description"
          content="Talk A Bit is a student organised conference where technology hot topics are discussed, in a motivating and friendly environment. This year's topic is The Social Impact of Technology. Join us for free!">
    <meta property="og:image" content="http://talkabit.org/assets/images/talkabit.jpg"/>
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="assets/css/font-awesome/css/font-awesome.min.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet"> -->
    <link rel="stylesheet" href="assets/css/2018.css">
    <title>Talk A Bit - 6th Edition</title>
</head>

<body>

<nav class="bg">
    <ul>
        <!-- <li><a href="#tickets">Tickets</a></li> -->
        <li><a href="#about">About</a></li>
        <li><a href="#program">Program</a></li>
        <li><a href="#speakers">Speakers</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#location">Location</a></li>
        <li><a href="#sponsors">Sponsors</a></li>
        <li><a href="#partners">Partners</a></li>
        <li><a href="#organization">Organization</a></li>
        <!-- <li><a href="https://facebook.com/talkabit"><i class="fa fa-fw fa-facebook"></i></a></li> -->
        <!-- <li><a href="https://twitter.com/talkabitconf"><i class="fa fa-fw fa-twitter"></i></a></li> -->
    </ul>
</nav>

<div id="preloader">
    <div class="loader"></div>
</div>

<div id="landing">
    <img class="banner" src="assets/images/talk_a_bit_2018.svg"/>
    <div class="date">20 Jan 2018</div>
    <div class="description">Student Organized<br/>Tech Conference &commat; Porto</div>
    <a class="feup no-selection" target="_blank" href="https://fe.up.pt/"><img src="assets/images/feup_logo.png"/></a>
    <footer class="no-selection">
        <ul class="social">
            <li><a target="_blank" href="mailto:geral@talkabit.org"><i class="fa fa-fw fa-envelope"></i></a></li>
            <li><a target="_blank" href="https://www.facebook.com/talkabit"><i class="fa fa-fw fa-facebook"></i></a>
            </li>
            <li><a target="_blank" href="https://twitter.com/talkabitconf"><i class="fa fa-fw fa-twitter"></i></a></li>
            <li><a target="_blank" href="https://www.instagram.com/talkabit/"><i class="fa fa-fw fa-instagram"></i></a>
            </li>
        </ul>
        <a class="previous-edition" title="5th edition - 2017" href="2017">Previous Edition</a>
    </footer>
    <div class="illustration"></div>
</div>

<div id="main">

    <div class="container">

        <section id="about" class="main-section">
            <h2>About</h2>
            <p>Talk A Bit is a non-profit tech conference organized by graduating Software Engineering students from
                FEUP, the Faculty of Engineering of the University of Porto. Like in previous occurances, this year's
                6th edition of the conference will focus on the social impact of technology.</p>
            <p>The conference started in 2013 with less than 150 attendees, a number that has grown to 500 in last
                year's edition. The trend is clear, and it demonstrates how much social responsibility in technology is
                important for the general public.</p>
            <p>The 6th edition of Talk A Bit will take place on January 20th, 2018, at FEUP. Starting at 9:00, the
                morning will be occupied by presentations from the codingforsocialimpact.org project, a local project
                that has FEUP students developing real projects for real organizations that aim to use those projects to
                make a positive social impact. Previous editions of the project have had student projects focusing on
                areas ranging from medical care to aiding elder people.</p>
            <p>Also during the morning, there will be several workshops with different subjects, which will be announced
                soon.</p>
            <p>During the afternoon, there will be talks from external speakers, as well as a discussion forum. Both
                will cover all sorts of topics from Artificial Intelligence to autonomous vehicles, always with a focus
                on the social impact of such technologies. At the end, there will be a networking dinner as well as a
                social event, to bring companies and students together in a relaxed environment where experiences and
                thoughts can be shared.</p>
        </section>

        <section id="program">
            <h2>Program</h2>
            <a href="assets/images/program.png" target="_blank" title="Talk A Bit 2018 - Program">
                <img src="assets/images/program.png" alt="Talk A Bit 2018 - Program">
            </a>
        </section>

        <section id="speakers" class="main-section">
            <h2>Speakers</h2>
            <div class="tab-grid-container">
                <div class="row extra-padding">
                    {% for speaker in site.data.speakers2018 %}
                        <div class="col-2">
                            <div class="speaker">
                                {% if speaker.url %}
                                <a href="{{ speaker.url }}" target="_blank">
                                {% endif %}
                                    <img class="photo" src="assets/images/speakers/{{ speaker.name | slugify }}.jpg" alt="{{ speaker.name }}">
                                {% if speaker.url %}
                                </a>
                                {% endif %}
                                <div class="name">{{ speaker.name }}</div>
                                <div class="company">{{ speaker.company }}</div>
                                <div class="title">{{ speaker.title }}</div>
                                <div class="resume">{{ speaker.resume }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section id="faq" class="main-section">
            <h2>FAQ</h2>
            <div class="tab-grid-container">
                <div class="row">
                    <div class="col-3">
                        <div class="faq-item closed">
                            <div class="question">What is the price of my ticket?</div>
                            <div class="answer">The main ticket is entirely free. If you want some extra goodies, registration will open soon.</div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="faq-item closed">
                            <div class="question">What is included in my ticket?</div>
                            <div class="answer">The ticket includes access to the presentations, forum, lunch, coffee-breaks and networking. Registered attendees also get extra goodies! Dinner is optional at this point.</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="faq-item closed">
                            <div class="question">What languages are spoken?</div>
                            <div class="answer">Most of the event talks and workshops will be held in Portuguese, however there can be talks in English depending on the final program.</div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="faq-item closed">
                            <div class="question">Is there any requirement to attend Talk A Bit?</div>
                            <div class="answer">Nope, just bring your excitement, curiosity and contageous smile!</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="faq-item closed">
                            <div class="question">How to get to Talk A Bit?</div>
                            <div class="answer">
                                <h4>By plane:</h4>
                                <p>To Aeroporto Sá Carneiro (OPorto), and then by car or subway (line E) with line changing
                                    in Trindade to line D with direction to Hospital S.João with exit on station IPO.</p>

                                <h4>By car:</h4>
                                <ul>
                                    <li>Coming from South by A1 - Ash bridge: Take the direction Porto - Paranhos and follow
                                        the signs toward the Hospital de S. João.
                                    </li>
                                    <li>Coming from A4: Take the direction Porto Centro and follow the signs toward the
                                        Hospital de S. João.
                                    </li>
                                    <li>Coming from A3: Take the direction to Hospital de S. João</li>
                                    <li>Coming from A28: Take the A4 direction to Vila Real - Porto Centro - Follow the
                                        direction to Hospital de S. João.
                                    </li>
                                </ul>

                                <h4>By bus:</h4>
                                <p>From Rodonorte/Rede Expressos/Tâmega station, follow to Aliados Avenue and take the
                                    subway with direction Hospital S. João (line D). Or take bus number: 204, 300, 301 and
                                    803. There are also other buses near Hospital de São João. For more information: <a
                                            href="www.stcp.pt">www.stcp.pt</a></p>

                                <h4>By train:</h4>

                                <p>If coming by train, there are two main stations:</p>
                                <ul>
                                    <li>Campanhã – followed by the subway to Trindade in any line (A,B,C,E) and then change
                                        to D line.
                                    </li>
                                    <li>São Bento – and then get in the subway (line D)</li>
                                </ul>
                                <p>If coming by subway, take the one from line D (yellow) going to Hospital de São João and
                                    exit on IPO. After that, follow Rua Dr. Plácido da Costa to FEUP. For more information:
                                    <a href="www.metrodoporto.pt">www.metrodoporto.pt</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="faq-item closed">
                            <div class="question closed">I have specific questions that are not adressed here. Who can help me?</div>
                            <div class="answer">For additional enquiries reach out to <a href="mailto:geral@talkabit.org">geral@talkabit.org</a> and we will reply as soon as possible!</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="location" class="main-section">
            <h2>Location</h2>
            <div id="map"></div>
            <ul class="details">
                <li><strong>Faculdade</strong> de Engenharia da Universidade do Porto</li>
                <li><strong>Rua</strong> Dr. Roberto Frias, s/n.</li>
                <li><strong>Phone:</strong> <a href="tel:+351225081400">+351 22 508 14 00</a></li>
                <li><strong>Email:</strong> <a href="mailto:geral@talkabit.org">geral@talkabit.org</a></li>
            </ul>
        </section>

        <section id="sponsors" class="main-section">
            <h2>Sponsors</h2>

            <div class="separator">Main</div>
            <div class="tab-grid-container">
                <div class="row">
                    <div class="col-2">
                        <a class="sponsors-block" href="http://www.natixis.com/">
                            <img class="sponsors-logo main" src="assets/images/sponsors/natixis.png" alt="Natixis">
                        </a>
                    </div>
                </div>
            </div>

            <br>

            <div class="separator">Gold</div>
            <div class="tab-grid-container">
                <div class="row">
                    <div class="col-2">
                        <a class="sponsors-block" href="http://www.sonae.pt/">
                            <img class="sponsors-logo gold" src="assets/images/sponsors/bitsonae.png" alt="Sonae">
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="sponsors-block" href="https://www.talkdesk.com/">
                            <img class="sponsors-logo gold" src="assets/images/sponsors/talkdesk.png" alt="Talkdesk">
                        </a>
                    </div>
                </div>
            </div>

            <br>

            <div class="separator">Silver</div>
            <div class="tab-grid-container">
                <div class="row">
                    <div class="col-2">
                        <a class="sponsors-block deloitte" href="http://www2.deloitte.com/">
                            <img class="sponsors-logo silver" src="assets/images/sponsors/deloitte.png" alt="Deloitte">
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="sponsors-block" href="http://www.mindera.com/">
                            <img class="sponsors-logo silver" src="assets/images/sponsors/mindera.png" alt="Mindera">
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="sponsors-block" href="https://www.vodafone.pt/">
                            <img class="sponsors-logo silver" src="assets/images/sponsors/vodafone.svg" alt="Vodafone">
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="sponsors-block" href="https://www.xpand-it.com/">
                            <img class="sponsors-logo silver" src="assets/images/sponsors/xpandit.png" alt="Xpand IT">
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="sponsors-block" href="http://www.itgrow.pt/">
                            <img class="sponsors-logo silver" src="assets/images/sponsors/itgrow.png" alt="IT Grow">
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="sponsors-block" href="https://www.criticalsoftware.com/">
                            <img class="sponsors-logo silver" src="assets/images/sponsors/critical.png" alt="Critical Software">
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="sponsors-block" href="https://www.xing.com">
                            <img class="sponsors-logo silver" src="assets/images/sponsors/xing.png" alt="Xing">
                        </a>
                    </div>
                </div>
            </div>

            <br>

            <div class="separator">Friends</div>
            <div class="tab-grid-container">
                <div class="row">
                    <div class="col-2">
                        <a class="sponsors-block" href="https://www.bosch.com/">
                            <img class="sponsors-logo" src="assets/images/sponsors/bosch.jpg" alt="Bosch">
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="sponsors-block" href="https://www.redbull.com/">
                            <img class="sponsors-logo" src="assets/images/sponsors/redbull.jpg" alt="Red Bull">
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="sponsors-block" href="http://www.criticalmanufacturing.com/pt/homepage">
                            <img class="sponsors-logo" src="assets/images/sponsors/critical-man.png" alt="Critical Manufacturing">
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="sponsors-block" href="https://cabify.com/pt">
                            <img class="sponsors-logo" src="assets/images/sponsors/cabify.png" alt="Cabify">
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="sponsors-block" href="http://www.inova-ria.pt">
                            <img class="sponsors-logo" src="assets/images/sponsors/inovaria.png" alt="Inova-Ria">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section id="partners" class="main-section">
            <h2>Partners</h2>

            <div class="tab-grid-container">
                <div class="row">
                    <div class="col-2">
                        <a class="partners-block" href="https://sigarra.up.pt/">
                            <img class="partners-logo" src="assets/images/partners/uporto.png" alt="UP">
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="partners-block" href="https://sigarra.up.pt/feup/">
                            <img class="partners-logo" src="assets/images/partners/feup.png" alt="FEUP">
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="partners-block" href="https://ni.fe.up.pt/">
                            <img class="partners-logo" src="assets/images/partners/niaefeup.svg" alt="NIAEFEUP">
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="partners-block" href="https://www.ieee.org/">
                            <img class="partners-logo" src="assets/images/partners/ieee.png" alt="IEEE">
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="partners-block" href="https://www.aefeup.pt/">
                            <img class="partners-logo" src="assets/images/partners/aefeup.png" alt="AEFEUP">
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="partners-block" href="https://www.best.eu.org/">
                            <img class="partners-logo" src="assets/images/partners/best.png" alt="Best">
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="partners-block" href="http://scaleupporto.pt">
                            <img class="partners-logo" src="assets/images/partners/scaleup.png" alt="ScaleUp Porto.">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section id="organization" class="main-section">
            <h2>Organization</h2>
            <div class="separator">Conference Chairmen</div>
            <div class="group tab-grid-container">
                <div class="row">
                    {% for member in site.data.org2017.chair %}
                        {% include member.html %}
                    {% endfor %}
                </div>
            </div>
            <div class="separator">Conference Members</div>
            <div class="group tab-grid-container">
                <div class="row">
                    {% for member in site.data.org2017.conference %}
                        {% include member.html %}
                    {% endfor %}
                </div>
            </div>
            <div class="separator">Program Committee</div>
            <div class="group tab-grid-container">
                <div class="row">
                    {% for member in site.data.org2017.program %}
                        {% include member.html %}
                    {% endfor %}
                </div>
            </div>
            <div class="separator">Steering Committee</div>
            <div class="group tab-grid-container">
                <div class="row">
                    {% for member in site.data.org2017.steering %}
                        {% include member.html %}
                    {% endfor %}
                </div>
            </div>
        </section>

    </div>

</div>

<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="assets/js/jquery.countdown.min.js"></script>
<script type="text/javascript" src="assets/js/countdown.js"></script>

<script type="text/javascript">
    (function ($) {
        $(window).on('load', function () {
            $('#preloader').fadeOut(500, function () {
                $(this).remove();
            });
        });
        $(document).ready(function () {
            $('#faq .faq-item').click(function () {
                $(this).toggleClass('closed');
            });
            $('nav li a').click(function (e) {
                e.preventDefault();
                $('html,body').animate({scrollTop: $($(this).attr('href')).offset().top - 70}, 250)
            });

            $('#main #speakers .speaker .resume').slimScroll({ height: '150px' })
            $('#main #faq .faq-item .answer').slimScroll({ height: '200px' })
            $('#main #speakers .speaker').matchHeight()
            $('#main #faq .faq-item .question').matchHeight()
        });
    })(jQuery);
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110014794-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

gtag('config', 'UA-110014794-1');
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk8nU6ky4fXLJCiQqP4lrgisCFo-tNz30&callback=initMap"></script>
<script type="text/javascript">
    function initMap() {

        // Create a new StyledMapType object, passing it an array of styles,
        // and the name to be displayed on the map type control.
        var styledMapType = new google.maps.StyledMapType(
            [
                {
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#1d2c4d"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#8ec3b9"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#1a3646"
                        }
                    ]
                },
                {
                    "featureType": "administrative.country",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#4b6878"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#64779e"
                        }
                    ]
                },
                {
                    "featureType": "administrative.province",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#4b6878"
                        }
                    ]
                },
                {
                    "featureType": "landscape.man_made",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#334e87"
                        }
                    ]
                },
                {
                    "featureType": "landscape.natural",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#023e58"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#283d6a"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#6f9ba5"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#1d2c4d"
                        }
                    ]
                },
                {
                    "featureType": "poi.business",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#023e58"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#3C7680"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#304a7d"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#98a5be"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#1d2c4d"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#2c6675"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#255763"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#b0d5ce"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#023e58"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#98a5be"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#1d2c4d"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#283d6a"
                        }
                    ]
                },
                {
                    "featureType": "transit.station",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#3a4762"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#0e1626"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#4e6d70"
                        }
                    ]
                }
            ],
            {name: 'Styled Map'});

        // Create a map object, and include the MapTypeId to add
        // to the map type control.
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 41.1779401, lng: -8.597687599999972},
            zoom: 16,
            disableDefaultUI: true
        });

        //Associate the styled map with the MapTypeId and set it to display.
        map.mapTypes.set('styled_map', styledMapType);
        map.setMapTypeId('styled_map');
    }
</script>

</body>

</html>
