#faqs h3 {
  text-align: left;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 16px;
}

#faqs ul {
  padding-left: 0;
}

#faqs .faq {
  width: 100%;
  padding: 2rem 2rem;
  background: none;
  border: none;
  outline: none;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

#faqs .faq:hover {
  background-color: #149ec438;
}

#faqs .question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
}

#faqs .card {
  border: none;
  background: none;
}

#faqs .cardBody {
  text-align: left;
  padding: 1rem 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

@media only screen and (max-width: 550px) {
  .question {
    flex-direction: column;
  }

  .question span {
    margin-bottom: 1rem;
  }
}
