#team h4 {
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #14c491;
  margin: 2rem 0;
}

.memberImage {
  width: 162px;
  border: 3px solid rgba(20, 159, 196, 0.52);
  border-radius: 4px;
  text-align: center;
}

.department ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
}

.member {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  padding-bottom: 1rem;
}

.member img {
  margin-bottom: 1rem;
}
