@import "./global.css";

.aboutContainer{
    padding-bottom:1rem;    
}

.text {
    color: var(--primary-color-2);
    font-family: var(--inf-font);
    width:70%;
}

.titleLeft {
    color: var(--primary-color-3);
    font-family: var(--inf-font);
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.titleLeft2 {
    color: var(--primary-color-3);
    font-family: var(--inf-font);
    padding-bottom: 3rem;
    padding-top: 5rem;
}

.titleRight {
    color: var(--primary-color-3);
    font-family: var(--inf-font);
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: right;
}

.titleContainer {
    transform: skewY(-2deg);
    background-color: var(--primary-color-2);
    padding: 1rem;
    display: flex;
    align-items: center;    
    justify-content: center;
    width: 12rem;
    text-align: center;
    margin: 2rem auto;
}

.teamTitle {
    text-align: center;
    color: var(--primary-color-3);
    transform: skewY(2deg);
    margin: 0;
}

.teamContainer {
    text-align:center;
}

.memberContainer{
    width:20%;
    display:inline-block;
    text-align:center;
    margin:auto;
    margin: 1rem;
    transform: skewY(-2deg) translateY(-0.7rem);
    border: 1px solid var(--primary-color-3);
}

.memberNameContainer{
    position:absolute;
    background-color: var(--primary-color-2);
    padding: 0.5rem;
    justify-content: center;
    width: 70%;
    float: right;
    text-align: center;
    transform: skewY(2deg) translateY(-2.8rem) translateX(3.5rem);
    /* z-index: 1; */
}

.memberName{
    text-align: center;
    color: var(--primary-color-3);
    font-family: var(--title-font);
    font-size: 0.9rem;
    margin: 0;
}

.triangleShape {
    position:absolute;
    width: 0;
    height: 0;
    border-top: 1.5rem solid var(--primary-color-2);
    border-left: 1.5rem solid transparent;
    transform: skewX(10deg) translateY(-0.7rem) translateX(10rem);
}

.editionsContainer {
    width:70%;
}

.editionContainer{
    display:inline-block;
    transform: skewY(-2deg) translateY(-0.7rem);
    background-color: var(--primary-color-2);
    padding: 0.2rem;
    margin-right:2rem;
    margin-bottom: 2rem;
    width: 10rem;
    text-align: center;
}

.edition{
    color: var(--primary-color-3);
    font-family: var(--title-font);
    transform: skewY(2deg);
    font-size: 1.5rem;
    margin: 0;
}

.edition:hover {
    text-decoration: none;
    color:var(--primary-color-1);
}