@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20vh;
    padding-bottom: 20vh;
    flex-direction: row;
    align-items: center;
}

.text_container {
    width: 70%;
    padding-right: 5%;
    height: 100%;
}

.img_container {
    width: 30%;
}

.img {
    box-shadow: 0px 0px 15px 1px #595959;
}

.event {
    margin-top: 5%;
    font-size: 33px;
    color: #0F2342;
    font-family: Inter, sans-serif;
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
}

.dates {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.dates .text {
    color: #444444;
    font-family: Inter, sans-serif;
    font-size: 20px;
    margin-top: 2px;
    margin-right: 15px;
}

.dates .button {
    border: 0px;
    background-color: #5AB8F9;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 10px;
    color: white;
    font-family: Inter, sans-serif;
    font-weight: 700;
    padding: 0px 4px 0px 4px;
}

.dates .button:focus {
    outline: none;
}

.slogan {
    font-size: 35px;
    color: #0F2342;
    font-family: Inter, sans-serif;
    margin-bottom: 15px;
    margin-top: 15px;
}

.description {
    color: #444444;
    font-family: Inter, sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 30px;
}

.contact {
    height: 12px;
    color: #777777;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
}

.contact .email {
    color: inherit;
}

.editions {
    color: #777777;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}

@media screen and (max-width: 860px) {
    .container {
        display: block;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .text_container {
        width: 100%;
        padding-right: 5%;
        padding-left: 7.5%;
        padding-top: 15%;
        height: 100%;
    }

    .img_container {
        top: 0px;
        left: 0px;
        position: absolute;
        width: 0%;
         
    }
}