.titleContainer {
  position: absolute;
  z-index: 2;
  top: -1.8rem;
  left: -1rem;
  transform: skewY(-5deg);
  background-color: var(--primary-color-2);
  width: 9rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkContainer {
  transform: skewY(-5deg);
  background-color: var(--primary-color-2);
  width: 15rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem auto;
}

.title h2 {
  margin: 0;
}

.title {
  color: var(--primary-color-3);
  padding: 0.5rem;
  transform: skewY(5deg);
  display: flex;
}

.icon {
    margin-right: 0.5rem;
}

.item {
  list-style-type: none;
  flex-grow: 1;
  margin: 2rem 0;
}

.image {
  border: 1px solid var(--primary-color-3);
}

.prize {
  position: relative;
}

.item-first {
  align-self: flex-start;
}

.prize-first .image {
  width: 400px;
}

.item-second {
  align-self: flex-end;
}

.prize-second .image {
  width: 350px;
}

.item-third {
  align-self: flex-start;
  margin-left: 5rem;
}

.prize-third .image {
  width: 300px;
}

.prizes {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
}

.winners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.winnersWrapper {
  margin: 5rem 0;
}

.winner {
  margin-bottom: 2rem !important;
}

.winnerTitle {
  color: var(--primary-color-3);
  margin-bottom: 1rem;
  text-align: center;
}

.repoLink {
  color: var(--primary-color-2);
  margin-left: 1rem;
}

.linkWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text {
    color: var(--primary-color-3);
}

@media (max-width: 500px) {
  .prizes {
    align-items: center;
  }

  .item {
    align-self: center;
    margin: 2rem 0;
  }

  .prize-first .image {
    width: 350px;
  }

  .prize-second .image {
    width: 300px;
  }

  .prize-third .image {
    width: 250px;
  }

  .linkWrapper {
    flex-direction: column;
  }
}
