@import "./global.css";

.logo {
    width: 100%;
}

.logo svg {
    margin-top: 1rem;
    width: 12%;
    height: 12%;
    margin-left: 44%;
}

.navContainer {
    text-align: center;
    background-color: var(--primary-color-3); 
    padding:1rem;
    padding-bottom:3rem;
    transform: skewY(-2deg) translateY(2rem);  
    margin-bottom:4rem;
    display: flex;
    justify-content: center;
}

.nav{
    transform: skewY(2deg) translateY(0.7rem);
    width:100%;
    display: inline-block; 
    margin:auto;
}

.navItem {
    background-color: var(--primary-color-1);
    padding: 0.5rem;
    width: 8rem;
    display: inline-block; 
    margin-left: 3rem;
    margin-right: 3rem;
    list-style-type: none;
    transform: skewY(-2deg) translateY(0.35rem);
}

.navItemLink {
    display:inline-block;
    transform: skewY(2deg);
    color: var(--primary-color-3);
    font-family: var(--title-font);
    font-size: 15px;
}

.navItemLink:hover {
    text-decoration: none;
    color: var(--primary-color-2); 
}

@media (max-width: 1100px) {

    .navItem {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
