.tierContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gold{ 
    width: 33%;
    align-self: center;
}

.silver {
    width: 22%;
    align-self: center;
}

.bronze {
    width: 12.5%;
    align-self: center;
}

.logo {
    width: 85%;
}