#title {
    margin-bottom: 4rem;
    margin-top: 4rem;
    font-family: 'DecimaABold';
    font-size: 4vw;
    color: white;
    text-align: left;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}