.background {
    height: 200px;
    background: linear-gradient(
        to bottom,
        white,
        rgba(0, 169, 206, 1) /* rgba(33, 44, 85, 1) */
    );
}

.footer {
    height: 100%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    padding: 1.5rem;
    color: white;
}
