@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}

a,
a:hover,
a:active,
a:focus {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

ul {
    padding-left: 0 !important;
    margin-bottom: 0;
}

.register-btn,
.edition-btn {
    background: #72c5dc;
    font-family: Inter;
    font-weight: bold;
    font-size: 16px;
    height: 42px;
    color: white;
    padding: 0 1.5rem;
    border-radius: 20px;
    outline: none;
    border: none;
    transition: all 0.3s ease-in-out;
}

.edition-btn {
    transform: skew(20deg);
    border-radius: 2px;
    margin: 0 0.5rem 1rem 0.5rem;
}

button:hover {
    background: #149fc4;
}

#__next {
    overflow-x: hidden;
}

nav.navscro {
    background: #212c55;
    opacity: 95%;
}

.collapsing {
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    visibility: hidden;
}

.yearsBackground {
    background: #212c55;
}

.speakers,
.previousYears {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0.5rem 0rem;
    font-family: Poppins, sans-serif;
    position: relative;
    overflow: hidden;
}

.speakers h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 36px;
    color: #212c55;
    padding: 0 1rem;
}

.previousYears h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 36px;
    color: #fff;
    padding: 0 1rem;
}

.speakers div.container {
    position: relative;
    z-index: 1;
}

/* .speakers div.parent_container {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    margin: 14px 0;
}

.speakers div.parent_container::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    top: 0;
} */

.speakers div.col img {
    width: 100%;
    height: auto;
    margin: 14px 0;
}

.speakers .image_container {
    position: relative;
    text-align: left;
    color: white;
    text-shadow: 1px 2px 3px #000;
}

.speakers div.bottom {
    position: absolute;
    bottom: 14px;
    padding-bottom: 8px;
    padding-left: 16px;
    font-weight: bold;
    color: white;
    width: 100%;
    background: linear-gradient(
        to bottom,
        /* rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100% */ transparent,
        rgba(0, 0, 0, 0.9)
    );
    /* z-index: 20; */
}

.speakers .p1 {
    font-size: 1.2rem;
    margin-top: 20px !important;
    margin-bottom: 0 !important;
}

.speakers .p2 {
    font-size: 0.9rem;
    margin-bottom: 0px !important;
}

.previousYears .parent_container {
    margin-bottom: 50px;
}

.previousYears .parent_container:hover {
    animation: effect 0.4s infinite;
}

.previousYears .image_container {
    height: 122px;
    border-radius: 20px;
    border: 1px solid #55acee;
    overflow: hidden;
}

.previousYears .edition_container {
    height: 50px;
    border-radius: 20px;
    background-color: #55acee;
    opacity: 80%;
    margin-top: -70px;
}

.previousYears div.col img {
    width: 100%;
    height: 100%;
}

.previousYears .p1 {
    font-size: 1.2rem;
    color: #fff;
    margin-top: 20px !important;
    margin-bottom: 0 !important;
}

.previousYears .p2 {
    font-size: 0.9rem;
    color: #fff;
    margin-bottom: 0px !important;
}

/* change navbar background on collapse */
@media (max-width: 992px) {
    nav.navcol {
        background: #212c55;
        text-align: center;
    }

    button.navbar-toggler {
        background: transparent;
        border: none;
    }

    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }
}

@keyframes effect {
    0% {
        transform: translateX(0px) rotate(0deg);
    }

    20% {
        transform: translateX(-4px) rotate(-4deg);
    }

    40% {
        transform: translateX(-2px) rotate(-2deg);
    }

    60% {
        transform: translateX(4px) rotate(4deg);
    }

    80% {
        transform: translateX(2px) rotate(2deg);
    }

    100% {
        transform: translateX(0px) rotate(0deg);
    }
}

/* @media screen and (max-width: 600px) {
    .previousYears .col {
        max-width: 70%;
        display: flex;
        align-items: center;
    }
} */

/* @media screen and (max-width: 800px) {
    .speakers div.column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .speakers div.column {
        flex: 100%;
        max-width: 100%;
    }
} */
