@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}

a,
a:hover,
a:active,
a:focus {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

ul {
    padding-left: 0 !important;
    margin-bottom: 0;
}

/* .edition-btn {
    background: #72c5dc;
    font-family: Inter;
    font-weight: bold;
    font-size: 16px;
    height: 42px;
    color: white;
    padding: 0 1.5rem;
    border-radius: 20px;
    outline: none;
    border: none;
    transition: all 0.3s ease-in-out;
    transform: skew(20deg);
    border-radius: 2px;
    margin: 0 0.5rem 1rem 0.5rem;
} */

.register-btn-topbar {
    background: #41b38d;
    font-weight: semi-bold;
    font-size: 1em;
    color: white;
    padding: 0 1.5rem;
    border-radius: 10px;
    height: 40px;
    outline: none;
    border: none;
    transition: all 0.3s ease-in-out;
    margin-right: 8px;
}

.register-btn {
    background: #41b38d;
    font-weight: semi-bold;
    font-size: 1.3em;
    color: white;
    padding: 0 1.5rem;
    border-radius: 10px;
    height: 42px;
    outline: none;
    border: none;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background: #149fc4;
}

#__next {
    overflow-x: hidden;
}

nav.navscro {
    background: #212c55;
    opacity: 95%;
}

.collapsing {
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    visibility: hidden;
}

.yearsBackground {
    background: #212c55;
}

.speakers,
.previousYears,
.sponsors,
.team {
    max-width: 1044px;
    margin: 0 auto;
    /* padding: 0.5rem 0rem; */
    font-family: Poppins, sans-serif;
    position: relative;
    overflow: hidden;
}

.previousYears,
.sponsors,
.team,
.speakers {
    padding: 1.5rem 0;
}

.speakers h3,
.sponsors h3,
.team h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 1.5rem;
    color: #212c55;
    padding: 0 1rem;
}

.previousYears h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 1.5rem;
    color: #fff;
    padding: 0 1rem;
}

.speakers div.container {
    position: relative;
    z-index: 1;
}

/* .speakers .row {
    margin-bottom: 1.5rem;
} */

.speakers .parent_container {
    margin-bottom: 25px;
}

.speakers .image_container {
    border-radius: 20px;
    overflow: hidden;
}

.speakers div.col img {
    width: 100%;
    height: auto;
    /* margin: 14px 0; */
}

.speakers .image_container {
    position: relative;
    text-align: left;
    color: white;
    text-shadow: 1px 2px 3px #000;
}

.speakers div.bottom {
    position: absolute;
    bottom: 0px;
    padding-bottom: 8px;
    padding-left: 16px;
    font-weight: bold;
    color: white;
    width: 100%;
    background: linear-gradient(
        to bottom,
        /* rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100% */ transparent,
        rgba(0, 0, 0, 0.9)
    );
    /* z-index: 20; */
}

.speakers .p1 {
    font-size: 1.2rem;
    margin-top: 20px !important;
    margin-bottom: 0 !important;
}

.speakers .p2 {
    font-size: 0.9rem;
    margin-bottom: 0px !important;
}

.speakers .modal-header a {
    padding-left: 0.5rem;
}

/* .previousYears .row {
    margin-bottom: 1.5rem;
} */

.previousYears .parent_container {
    margin-bottom: 25px;
}

.previousYears .parent_container:hover,
.speakers .parent_container:hover {
    animation: effect 0.2s 2;
}

.previousYears .image_container {
    height: 122px;
    border-radius: 20px;
    border: 1px solid #00a9ce;
    overflow: hidden;
}

.previousYears .edition_container {
    height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #00a9ce;
    opacity: 75%;
    margin-top: -70px;
}

.previousYears div.col img {
    width: 100%;
    height: 100%;
}

.previousYears .p1 {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 20px !important;
    margin-bottom: 0 !important;
    font-weight: 500;
}

.previousYears .p2 {
    font-size: 0.8rem;
    color: #fff;
    margin-top: -6px !important;
}

.platinumSponsor,
.goldSponsor,
.silverSponsor,
.bronzeSponsor {
    margin: auto;
    /* margin-bottom: 1.5rem; */
    width: 50%;
}

.platinumSponsor h4,
.goldSponsor h4,
.silverSponsor h4,
.bronzeSponsor h4 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

.platinumSponsor h4 {
    color: #72c5dc;
}

.goldSponsor h4 {
    color: #d4af37;
}

.silverSponsor h4 {
    color: #aaa9ad;
}

.bronzeSponsor h4 {
    color: #967444;
}

.sponsors .image_container img {
    width: 100%;
    height: auto;
    margin: 14px 0;
}

.sponsors .col {
    text-align: center;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sponsors .gold_container .col img {
    margin: 14px 0;
    width: 100%;
    height: auto;
}

.sponsors .silver_container .col img {
    width: 70%;
    height: auto;
    margin: 14px 0;
}

.sponsors .bronze_container .col img {
    width: 50%;
    height: auto;
    margin: 14px 0;
}

.chairman,
.web,
.program,
.sponsorsT,
.local,
.parallel {
    margin: auto;
}

.teamBackground h4 {
    font-weight: 600;
    text-align: center;
    color: #41b38d;
}

.chairman_container,
.web_container,
.program_container,
.sponsors_container,
.local_container,
.parallel_container {
    text-align: center;
    margin-top: 1.5rem;
}

.chairman_container {
    margin-bottom: 1.5rem;
}

.teamBackground .member {
    list-style: none;
    display: inline-block;
    flex-direction: column;
    margin: 0 1rem;
}

.teamBackground .ul {
    flex-wrap: wrap;
    justify-content: center;
    white-space: nowrap;
    margin-bottom: 1.5;
}

.teamBackground .member_image {
    max-width: 210px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #00a9ce;
    text-align: center;
}

.teamBackground span {
    color: #00a9ce;
}

.teamBackground p {
    color: #00a9ce;
}

.teamBackground .row {
    margin-right: -0.125rem;
    margin-left: -0.125rem;
}

.teamBackground img {
    margin-bottom: 1rem;
}

/* change navbar background on collapse */
@media (max-width: 992px) {
    nav.navcol {
        background: #212c55;
        text-align: center;
    }

    button.navbar-toggler {
        background: transparent;
        border: none;
    }

    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }
}

@media (max-width: 768px) {
    .speakers .modal-image-container {
        padding: 1rem 0;
    }
}

@media (min-width: 768px) {
    .speakers .modal-content {
        padding: 1rem;
    }

    .speakers .modal_image {
        border-radius: 20px;
        overflow: hidden;
    }
}

@keyframes effect {
    0% {
        transform: translateX(0px) rotate(0deg);
    }

    20% {
        transform: translateX(-2px) rotate(-2deg);
    }

    40% {
        transform: translateX(-1px) rotate(-1deg);
    }

    60% {
        transform: translateX(2px) rotate(2deg);
    }

    80% {
        transform: translateX(1px) rotate(1deg);
    }

    100% {
        transform: translateX(0px) rotate(0deg);
    }
}

/* @media screen and (max-width: 600px) {
    .previousYears .col {
        max-width: 70%;
        display: flex;
        align-items: center;
    }
} */

/* @media screen and (max-width: 800px) {
    .speakers div.column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .speakers div.column {
        flex: 100%;
        max-width: 100%;
    }
} */
