.background {
    height: 100vh;
    background-color: #212c55;
    overflow: auto;
}

.sketch {
    background-image: url('../public/assets/sketch_uporto.png');
    width: 100%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid red; */
    position: absolute;
    bottom: 0;
    opacity: 30%;
    overflow-x: hidden;
}

.landing {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* margin: 50px; */
}

.content {
    text-align: center;
    position: relative;
    /* margin-top: -75px; */
}

.logo {
    width: 50%;
    height: auto;
}

/* .p0 {
    font-size: 6em;
    font-weight: 700;
    letter-spacing: 0.09em;
    color: white;
    margin: 0 auto;
    width: 100%;
} */

.p1 {
    font-size: 1.5em;
    font-weight: normal;
    letter-spacing: 0.09em;
    color: white;
    margin: 0 auto;
    width: 100%;
}

.p2 {
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: 0.09em;
    color: white;
    margin: 10px auto 0px auto;
    width: 100%;
}

/* .landingCountdown {
    position: relative;
    bottom: -30%;
} */

.showCounter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    line-height: normal;
    padding: 0.5em;
    color: white;
    font-family: ZCOOL QingKe HuangYou;
    /* border: 1px solid #ebebeb; */
}

.countdown {
    /* border: 1px solid green; */
    height: 100%;
    overflow: hidden;
}

.showCounter .countdown {
    line-height: normal;
    padding: 0 2.5rem 0 2.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.showCounter .countdown > p {
    margin: 0;
    /* border: 1px solid yellow; */
}

.showCounter .countdown > span {
    text-transform: uppercase;
    font-size: 2rem;
    line-height: normal;
    font-family: Poppins;
    /* border: 1px solid red; */
}

@media only screen and (max-width: 754px) {
    .showCounter .countdown > span {
        font-size: 1rem;
        line-height: auto;
    }

    .showCounter {
        font-size: 1.5rem;
    }

    .logo {
        width: auto;
        height: auto;
    }
}
